<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:h="http://xmlns.jcp.org/jsf/html"
 	xmlns:f="http://xmlns.jcp.org/jsf/core"
 	xmlns:p="http://primefaces.org/ui"
 	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>

<meta charset="UTF-8"/>
<title>#{labels['layout.app.name']}</title>

<h:outputStylesheet library="desafio_tecnico" name="estilo.css" />

</h:head>

<h:body>
	<header>
		<h:form id="frmMenu">
			<p:tabMenu activeIndex="#{param.i}">
			    <p:menuitem value="Listagem de cidades" action="#{estadoController.redirectToListagemCidades}">
			        <f:param name="i" value="0" />
			    </p:menuitem>
			    <p:menuitem value="Listagem de estados" action="#{cidadeController.redirectToListagemEstados}">
			        <f:param name="i" value="1" />
			    </p:menuitem>
			</p:tabMenu>
		</h:form>
	</header>
	
	<h2>
		<ui:insert name="titulo" />
	</h2>

	<div id="conteudo">		
		<ui:insert name="conteudo" />	
	</div>
	
	<footer>
		<p:outputLabel value="#{labels['layout.app.name']}"/>
	</footer>
	
	<h:form>
		<p:confirmDialog global="true">
			<p:commandButton value="#{labels['layout.modal.no']}" icon="fa fa-remove" 
				styleClass="ui-confirmdialog-no"/>
				
			<p:commandButton value="#{labels['layout.modal.yes']}" icon="fa fa-check" 
				styleClass="ui-confirmdialog-yes"/>
		</p:confirmDialog>
	</h:form>
</h:body>

</html>