@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	margin-bottom: 20px;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 8px
}

#tituloPagina {
	padding: 0px 8px
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

#frm\:estado {
	width: 450px;
	display: inline-flex;
}

#frm\:imgBandeira {
	width: 35px;
	height: 24px;
	position: absolute;
}

#frm\:toolbar {
	padding: 10px;
}

#separadorBandeira {
	margin-left: 40px;
}
