<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:h="http://xmlns.jcp.org/jsf/html"
 	xmlns:f="http://xmlns.jcp.org/jsf/core"
 	xmlns:p="http://primefaces.org/ui"
 	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
 	template="WEB-INF/template/Layout.xhtml">
 	
<ui:define name="titulo">
	<p:outputLabel id="tituloPagina" value="#{labels['cidades.title']}"/>
</ui:define>

<ui:define name="conteudo">
	<f:metadata>
		<f:viewAction action="#{cidadeController.init}" />
	</f:metadata>
	
	<h:form id="frm">
		<p:messages id="messages" />
	
		<p:toolbar id="toolbar">
			<f:facet name="left">
				
				<p:graphicImage id="imgBandeira" value="resources/desafio_tecnico/bandeira#{cidadeController.estadoSelecionado.sigla}.jpg" />
				
				<span id="separadorBandeira" class="ui-separator">
	                <span class="ui-icon ui-icon-grip-dotted-vertical" />
	            </span>
				
		        <p:selectOneMenu id="estado" name="estado" value="#{cidadeController.estadoSelecionado}" converter="#{cidadeController.estadoConverter}">
		        	<p:ajax event="itemSelect" update="cidadesDataTable imgBandeira" listener="#{cidadeController.atualizarCidadePorEstadoSelecionado}" />
		            <f:selectItems value="#{cidadeController.estados}" var="estado" itemValue="#{estado}" itemLabel="#{estado.nome}" />
		        </p:selectOneMenu>
		        
   				<span class="ui-separator">
	                <span class="ui-icon ui-icon-grip-dotted-vertical" />
	            </span>
	            
	            <p:commandButton value="#{labels['cidades.btn.add-city']}" icon="fa fa-plus" action="#{cidadeController.redirectToInsercaoCidade}" />
		        
		        <span class="ui-separator">
	                <span class="ui-icon ui-icon-grip-dotted-vertical" />
	            </span>
	            
	            <p:commandButton title="Excluir" icon="fa fa-trash" 
	            	disabled="#{not cidadeController.cidadeSelecionadaDisponivel}"
	            	actionListener="#{cidadeController.excluir}"
	            	update="messages cidadesDataTable toolbar"
	            	process="@this">
	            	<p:confirm icon="ui-icon-alert" header="Confirmação de exclusão" 
	            		message="#{labels['cidades.exclude-city']}" />	
            	</p:commandButton>
            	
            	<span class="ui-separator">
	                <span class="ui-icon ui-icon-grip-dotted-vertical" />
	            </span>
		        
		        <p:commandButton title="#{labels['cidades.btn.import-cities']}" icon="fa fa-file-excel-o" action="#{cidadeController.redirectToImportarCidadesEmLote}" />
	            
			</f:facet>
		</p:toolbar>
		
		<p:spacer height="20px" />
		
		<p:dataTable id="cidadesDataTable" value="#{cidadeController.cidades}"
			var="cidade" emptyMessage="#{labels['cidades.data-table.empty']}"
			paginator="true" rows="3" paginatorPosition="bottom"
			selectionMode="single" selection="#{cidadeController.cidadeSelecionada}" rowKey="#{cidade.id}">
			
			<p:ajax event="rowSelect" update="frm:toolbar" />
			<p:ajax event="rowUnselect" update="frm:toolbar" />
			
			<p:column headerText="#{labels['cidades.data-table.column.id']}">
				<h:outputText value="#{cidade.id}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{labels['cidades.data-table.column.name']}">
				<h:outputText value="#{cidade.nome}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{labels['cidades.data-table.column.state']}">
				<h:outputText value="#{cidade.estado.nome}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{labels['cidades.data-table.column.population']}">
				<h:outputText value="#{cidade.quantidadePopulacao}"></h:outputText>
			</p:column>
			
		</p:dataTable>
		
	</h:form>
</ui:define>

</ui:composition>