<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:h="http://xmlns.jcp.org/jsf/html"
 	xmlns:f="http://xmlns.jcp.org/jsf/core"
 	xmlns:p="http://primefaces.org/ui"
 	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
 	template="WEB-INF/template/Layout.xhtml">
 	
<ui:define name="titulo">
	<p:outputLabel id="tituloPagina" value="#{labels['estados.title']}"/>
</ui:define>

<ui:define name="conteudo">
	<f:metadata>
		<f:viewAction action="#{estadoController.init}" />
	</f:metadata>
	
	<h:form id="frmEstado">
		<p:messages id="messages" />
		
		<p:dataTable id="estadosDataTable" value="#{estadoController.estados}"
						var="estado" emptyMessage="#{labels['estados.data-table.empty']}">
			
			<p:column headerText="#{labels['estados.data-table.column.name']}">
				<h:outputText value="#{estado.nome}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{labels['estados.data-table.column.population']}">
				<h:outputText value="#{estado.populacao}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{labels['estados.data-table.column.population-cost']}">
				<h:outputText value="#{estado.valorPopulacao}">
			        <f:convertNumber type="number" locale="#{labels['estados.locale.pt-br']}"/>
				</h:outputText>
			</p:column>
			
		</p:dataTable>
		
	</h:form>
</ui:define>

</ui:composition>