<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:h="http://xmlns.jcp.org/jsf/html"
 	xmlns:f="http://xmlns.jcp.org/jsf/core"
 	xmlns:p="http://primefaces.org/ui"
 	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
 	template="WEB-INF/template/Layout.xhtml">
 	
<ui:define name="titulo">
	<p:outputLabel id="tituloPagina" value="#{labels['importar.title']}"/>
</ui:define>

<ui:define name="conteudo">

	<h:form id="frmImportar" enctype="multipart/form-data">
		<p:messages id="messages" />

		<h:panelGrid id="cidadePanelGrid" columns="2">
			<p:outputLabel value="#{labels['importar.select-document']}" for="btnImportar" />
			<p:fileUpload id="btnImportar" value="#{cidadeController.file}" mode="simple" skinSimple="true"/>
		    <br />
		    <p:commandButton value="#{labels['importar.import']}" ajax="false" action="#{cidadeController.uploadCidadesEmLote}" update="messages" />
		</h:panelGrid>
	</h:form>

</ui:define>

</ui:composition>