<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:h="http://xmlns.jcp.org/jsf/html"
 	xmlns:f="http://xmlns.jcp.org/jsf/core"
 	xmlns:p="http://primefaces.org/ui"
 	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
 	template="WEB-INF/template/Layout.xhtml">
 	
<ui:define name="titulo">
	<p:outputLabel id="tituloPagina" value="#{labels['importar.title']}"/>
</ui:define>

<ui:define name="conteudo">

	<f:metadata>
		<f:viewAction action="#{cidadeController.initNovaCidade}" />
	</f:metadata>

	<h:form id="frmNovoUsuario">
		<p:messages id="messages" />

		<h:panelGrid id="cidadePanelGrid" columns="2">
			<p:outputLabel value="#{labels['novaCidade.form.field.name']}:" for="nome" />
			<p:inputText id="nome" size="80" maxlength="120" required="true"
				value="#{cidadeController.novaCidade.nome}" />
			
			<p:outputLabel value="#{labels['novaCidade.form.field.state']}:" for="estadoSelect" />	
	        <p:selectOneMenu id="estadoSelect" value="#{cidadeController.novaCidade.estado}" 
			        					style="width:450px" converter="#{cidadeController.estadoConverter}">
	            <f:selectItems value="#{cidadeController.estados}" var="estado" itemValue="#{estado}" itemLabel="#{estado.nome}" />
	        </p:selectOneMenu>
			
			<p:outputLabel value="#{labels['novaCidade.form.field.population']}:" for="populacao" />
			<p:inputText id="populacao" size="80" maxlength="20" required="true"
				value="#{cidadeController.novaCidade.quantidadePopulacao}"/>
				
			<p:commandButton id="salvarCommandButton" value="#{labels['novaCidade.form.btn.save']}" update="messages"
								actionListener="#{cidadeController.salvar}" />
		</h:panelGrid>
	</h:form>

</ui:define>

</ui:composition>